In [1]:
import pandas as pd

# Prepare the spam/ham email dataset

In [11]:
dataset = pd.read_csv('./emails.csv')

In [12]:
# add column with row id
dataset['ID'] = range(1, len(dataset) + 1)

In [13]:
# add the column to the first position
cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols]

In [14]:
dataset.head()

   ID                                               Text  Spam
0   1  Subject: naturally irresistible your corporate...     1
1   2  Subject: the stock trading gunslinger  fanny i...     1
2   3  Subject: unbelievable new homes made easy  im ...     1
3   4  Subject: 4 color printing special  request add...     1
4   5  Subject: do not have money , get software cds ...     1

In [15]:
# store csv in dataset folder
dataset.to_csv('./spam_ham_dataset.csv', index=False)

# Prepare the AG news dataset

In [2]:
dataset = pd.read_csv('./ag_news_test.csv')

In [3]:
# add column with row id
dataset['ID'] = range(1, len(dataset) + 1)

In [4]:
# add the column to the first position
cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols]

In [5]:
dataset.head()

,ID,Class Index,Title,Description
0,1,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...
1,2,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
2,3,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
3,4,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
4,5,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...

In [6]:
# store csv in dataset folder
dataset.to_csv('./ag_news_test.csv', index=False)

# Prepare the IMDB reviews dataset

In [7]:
dataset = pd.read_csv('./imdb_dataset.csv')

In [8]:
# add column with row id
dataset['ID'] = range(1, len(dataset) + 1)

In [9]:
# add the column to the first position
cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols]

In [10]:
dataset.head()

   ID                                             review sentiment
0   1  One of the other reviewers has mentioned that ...  positive
1   2  A wonderful little production. <br /><br />The...  positive
2   3  I thought this was a wonderful way to spend ti...  positive
3   4  Basically there's a family where a little boy ...  negative
4   5  Petter Mattei's "Love in the Time of Money" is...  positive

In [11]:
# store csv in dataset folder
dataset.to_csv('./imdb_dataset.csv', index=False)